* {
    margin: 0;
    padding: 0;
}
body {
    background-color: whitesmoke;
}
ol{
    display: inline-flex;
    list-style: none;
}
header {
    background-color: white;
}
h1{
    height: 8vh;
    padding: 4px;
    position: relative;
    left: 100px;
    top: 12px;
}
.add {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.fa-circle-plus{
    color: #0080ff;
    position: relative;
    left: 450px;
}
.c1 {
    position: relative;
    left: 450px;
}
.container {
    height: 80vh;
    display: grid;
    justify-content: center;
    grid-gap: 30px 30px;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 300px 300px;
}
.item {
    background-color: white;
    cursor: pointer;
}
.c2 {
    height: 35px;
    color: #0080ff;
    position: relative;
    left: 30px;
    top: 15px;
}
p {
    text-decoration: line-through;
}
main {
    filter: blur(4px);
    
}
.new {
    width: 350px;
    height: 150px;
    background-color: white;
    z-index: 4;
    position: absolute;
    left: 500px;
    bottom: 300px;
    box-shadow: 4px 4px 20px gray;
    border-radius: 5px;
}
.item2 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
}
.a1 {
    text-decoration: none;
}
.i1 {
   width: 320px;
   margin: 8px 15px;
   
}
.item3 {
    color: white;
    background-color: #0080ff;
    padding: 10px 25px;
    position: relative;
    top: 8px;
    left: 210px;
    border: 2px solid #0080ff;
    border-radius: 4px;
    cursor: pointer;
}